body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main__card{
    background-color: rgb(213, 216, 181);
    max-width: 450px;
    min-width: 250px;
    align-items: center;
}

.m__input{
    background-color: blanchedalmond;
}

.m__card-image{
    background-color: rgb(131, 173, 212);
}

.m__card-name{
    color: rgb(162, 91, 91);
    font-weight: bold;
    font-size: 25px;
}

.m__card-description{
    background-color: rgb(128, 154, 111);
}

.m__card-submit{
    background-color: coral;
}


.input-container{
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(204, 156, 117);
}

.ic__form{
    margin-top: 17px;
    margin-bottom: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 1000px;
}

.ic__form input{
    width: 23%;
    height: 30px;
    background-color: rgb(254, 251, 231);
    border-radius: 3px;
}

.ic__form textarea{
   width: 23%;    
   height: 30px;
}

.submit-button{
    width: 23%;
    height: 50px;
    /* color: ; */
    cursor: pointer;
}

